#!/bin/sh

exec 2>&1

<% if node["thanos"]["gcs-creds"]["file"] -%>
export GOOGLE_APPLICATION_CREDENTIALS=<%= node["thanos"]["gcs-creds"]["file"] %>
<% end -%>
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= node["thanos"]["binary"] %> <%= @options[:thanos_mode] %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "thanos-#{@options[:thanos_mode]}") %>
