#
# Trickster 1.x Configuration File
#

[main]
# Only listen for pprof on the metrics port.
pprof_server = 'metrics'

[frontend]
listen_port = <%= node["trickster"]["frontend"]["listen_port"] %>
listen_address = '<%= node["trickster"]["frontend"]["listen_address"] %>'

# Configuration options for mapping Cache(s)
[caches]
<% node["trickster"]["caches"].each do |cache_name, cache| -%>
  [caches.<%= cache_name %>]
  cache_type = '<%= cache['cache_type'] %>'
  <% cache['options'].each do |cache_option_name, cache_option_values| -%>
    [cache.<%= cache_name %>.<%= cache_option_name %>]
    <% cache_option_values.each do |key, value| -%>
    <% if value.is_a? Numeric -%>
    <%= key %> = <%= value %>
    <% else -%>
    <%= key %> = '<%= value %>'
    <% end -%>
    <% end -%>
  <% end -%>

<% end -%>

# Configuration options for mapping Origin(s)
[origins]
<% node["trickster"]["origins"].each do |origin_name, origin_options| -%>
  [origins.<%= origin_name %>]
  <% origin_options.each do |key, value| -%>
  <% if value.is_a? Numeric -%>
  <%= key %> = <%= value %>
  <% elsif value.is_a? Array -%>
  <%= key %> = [<%= value.map{ |s| "'#{s}'" }.join(', ') %>]
  <% else -%>
  <%= key %> = '<%= value %>'
  <% end -%>
  <% end -%>

<% end -%>

# Configuration Options for Request Routing Rules
[rules]
<% node["trickster"]["rules"].each do |rule_name, rule| -%>
  [rules.<%= rule_name %>]
  <% rule['options'].each do |rule_option_name, rule_option_value| -%>
  <% if rule_option_value.is_a? Numeric -%>
  <%= rule_option_name %> = <%= rule_option_value %>
  <% else -%>
  <%= rule_option_name %> = '<%= rule_option_value %>'
  <% end -%>
  <% end -%>
    [rules.<%= rule_name %>.cases]
    <% rule['cases'].each do |rule_case_name, rule_case| -%>
      [rules.<%= rule_name %>.cases.<%= rule_case_name %>]
      matches = [<%= rule_case['matches'].map{ |s| "'#{s}'" }.join(', ') %>]
      <% rule_case['options'].each do |key, value| -%>
      <%= key %> = '<%= value %>'
      <% end -%>
    <% end -%>

<% end -%>

# Configuration Options for Metrics Instrumentation
[metrics]
listen_port = <%= node["trickster"]["metrics"]["listen_port"] %>
listen_address = '<%= node["trickster"]["metrics"]["listen_address"] %>'

# Configuration Options for Logging Instrumentation
[logging]
log_level = '<%= node["trickster"]["logging"]["log_level"] %>'
log_file = '<%= node["trickster"]["logging"]["log_file"] %>'
